body {
background-image: url('https://s3.amazonaws.com/media-p.slid.es/uploads/souravzzz/images/45591/image1.png');
background-repeat: no-repeat;
background-attachment:fixed;
background-position:center center; 
}

